.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background: rgba(165, 255, 247, 0.4);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 136, 166, 0.1);

    /* background-color: rgba(85, 221, 255, 0.6); */

    /* backdrop-filter: blur(10px); */
    width: 100%;
    height: 100px;
}