* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background: rgba(16, 16, 16, 0.4);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0 rgba(235, 235, 235, 0.1);

    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;


}

.logo-holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;



}

.logo-holder img {

    top: 0;
    left: 0;
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
}

.links-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.links-holder ul {
    display: flex;
    list-style: none;
    gap: 25px;


}

.links-holder ul li a {
    text-decoration: none;
    color: #e3e3e3;
    font-size: 17px;

    font-weight: 400;
    font-style: normal;
    transition: 0.3s ease-in-out;
}

.navbar .button-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.navbar .button-holder button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    color: #e3e3e3;
    font-weight: 400;
    border: 2px solid #e3e3e3;
    transition: 0.3s ease-in-out;
}


/* responsive design */

@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .navbar .button-holder button {
        font-size: 1rem;
    }

    .navbar .logo-holder img {
        height: 40px;
    }

    .navbar {
        height: 70px;
    }
}